* {
    padding: 0;
    margin: 0;
    /* border: 1px solid red; */
}

body {
    background: linear-gradient(180deg, #0C1729 0%, #060B15 99.23%);
    background-attachment: fixed;
}

.speaker-judge-heading {
    text-align: right;
    padding: 1rem;
    padding-bottom: 4rem;
}

.speaker-heading {
    color: #96E0EE;
    font-family: "Poppins";
    padding-left: 2rem;
}

.speaker-heading span {
    color: white;
}

.judges-heading {
    color: white;
    font-family: "Poppins";
    padding-left: 2rem;
}

.judges-span {
    text-decoration: underline #96E0EE;
    text-underline-offset: 1rem;
}

.speaker-names {
    display: grid;
    grid-template-columns: auto auto auto;
    text-align: center;
    justify-content: space-around;
}

.speaker-images {
    width: 12rem;
    height: 12rem;
    border-radius: 100%;
    margin-top: 3rem;
    margin-bottom: 3rem;
    border: 13px solid;
    border-color: rgba(150, 224, 238, 1) transparent  rgba(150, 224, 238, 1) transparent;
    transform: rotate(-45deg);
    transition: 0.5s;
    padding: 0.2rem;
}

.speaker-images:hover {
    transform: rotate(45deg);
}

.speaker-img {
    width: 100%;
    height: 100%;
    border-radius: 100%;
    transform: rotate(45deg);
    transition: 0.5s;
}

.speaker-img:hover {
    transform: rotate(-45deg);
}

.Team-section {
    padding: 3rem;
}

.team-heading {
    color: white;
    font-family: "Poppins";
}

.team-heading span {
    text-decoration: underline #96E0EE;
    text-underline-offset: 1rem;
}

.convenor-info {
    text-align: center;
    padding-top: 2rem;
}

.convenor-info h2{
    font-family: poppins;
    color: white;
}

.convenor-section {
    justify-content: center;
    vertical-align: middle;
    text-align: center;
}

.convenor-section-images {
    display: flex;
    justify-content: space-around;
}

.convenor-image-div {
    width: 11rem;
    height: 11rem;
    border-radius: 100%;
    border: 13px solid;
    border-color: rgba(150, 224, 238, 1) transparent  rgba(150, 224, 238, 1) transparent;
    transform: rotate(-45deg);
    transition: 0.5s;
    margin-top: 3rem;
    padding: 0.2rem;
}

.convenor-image-div:hover {
    transform: rotate(45deg);
}

.convenor-image {
    width: 100%;
    height: 100%;
    border-radius: 100%;
    transform: rotate(45deg);
    transition: 0.5s;
}

.convenor-image:hover {
    transform: rotate(-45deg);
}

.junior-core-carousel {
    display: grid;
    grid-template-columns: auto auto auto auto auto;
    margin: 2rem;
}

.junior-core-names {
    color: white;
    font-family: Poppins;
    border: 1px solid rgba(94, 106, 128, 0.7);
    text-align: center;
    padding: 1rem;
    transition: 0.2s;
}

.junior-core-names:hover {
    color: black;
    background-color: white;
}

.junior-core-carousel-2 {
    display: none;
    grid-template-columns: auto auto auto auto auto;
    margin: 2rem;
}

.carousel-arrows {
    color: white;
    text-align: center;
}

.fa-solid-btn {
    padding: 1rem;
    border: 1px solid white;
    border-radius: 100%;
    margin: 1rem;
    transition: 0.2s;
    cursor: pointer;
    outline: none;
}

.fa-solid-btn:hover {
    background-color: white;
    color: black;
}